*{
    padding: 0;
    margin: 0;
}

#game{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

#character{
    width: 20px;
    height: 20px;
    position: relative;
    background-color:pink;
    left: 300px;
    top: -300px;
}

#block1{
    height: 100px;
    width: 100px;
    background-color: red;

}
#block2{
    height: 100px;
    width: 100px;
    background-color:blue;
}
#block3{
    height: 100px;
    width: 100px;
    background-color:yellow;
}
#block4{
    height: 100px;
    width: 100px;
    background-color:gray;
}
#block5{
    height: 100px;
    width: 100px;
    background-color:green;
}